@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
 

*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto-bold', sans-serif;   
}

.main
{
    
    
    margin:0 8em;
}

ul li
{
    list-style: none;
}

a
{
    text-decoration: none;
    font-size: 14px;
    color: #000;
}

p
{
    font-size: 16px;
    color: #696C73;
    
}

h1
{
    font-size: 44px;
    color:#37383C;
    
}


.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
    flex-wrap: nowrap;
}

.header .nav
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:54px;
    flex-wrap: nowrap;
}

.header .nav .links ul
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

.contact a{
    width: 150px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 26px;
    border-radius: 30px;
    color: antiquewhite;
    gap: 10px;
    background: linear-gradient(90deg, #E65C00 0%, #F9D423 100%);
    box-shadow: 0px 8px 8px 4px #18274B14;
    box-shadow: 0px 4px 6px 4px #18274B1F;

    


}

.cover 
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0em;
    padding: 1.5em; 
}

.cover .left
{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
    width: 50%;
    height: 60vh;

    
    
}

.cover .right
{
    display: flex;
    justify-content:flex-end;
    align-items: center; 
    width: 50%;
    


}

.right img
{
    max-width:100%;
    min-width: 300px;
    height: auto;
    object-fit: conatin;
    transform: translateX(100px);
    
    

    
}

.download a{
width: 200px;
height: 50px;
padding: 5px 26px;
border-radius: 30px;
gap: 10px;
display: flex;
align-items: center;
color: aliceblue;
justify-content: center;
box-shadow: 0px 8px 8px 4px #18274B14;
box-shadow: 0px 4px 6px 4px #18274B1F; 
background: linear-gradient(90deg, #00D2FF 0%, #3A7BD5 100%);
}

.mobnav img{ 
    width: 35px;
    height: 35px;
}

.mobnav{
    display: none;
}

@media screen and (max-width:768px) 
{
    .mobnav
    {
        display: block;
      /* background: rgba(0, 0, 0, 0.5);
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;     */
    } 

    .header .nav
    {
        display: none;
    }

    h1{
        font-size: 30px;
    }


}

@media screen and (max-width:690px) 
{
    .mobnav
    {
        display: block;
      /* background: rgba(0, 0, 0, 0.5);
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;     */
    } 

    .header .nav
    {
        display: none;
    }

    h1{
        font-size: 30px;
    }
     
    .cover{
        flex-direction:column;
        

    }


}